.App {
  background: radial-gradient(
    401px at 50.6% -0.3%,
    rgba(255, 255, 255, 0.31) 1.2%,
    rgb(36, 212, 219) 100.2%
  );
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px 4px;
}

a {
  text-decoration: none;
}
