body {
  font-family: "Ubuntu Condensed", sans-serif;
  padding-top: 10px;
}

h1,
h3 {
  font-weight: bolder;
  color: #def0f7;
}

h5 {
  color: #334a52;
  word-spacing: 8px;
}

p {
  color: #96afb8;
}

h3 .active {
  color: #96afb8;
  cursor: default;
  text-decoration: none;
}

h3 .active:hover {
  text-decoration: none;
}

.source-code {
  text-align: center;
}
