.city {
  color: #334a52;
}

.description {
  text-transform: capitalize;
  color: #96afb8;
}

.temperature {
  color: #334a52;
}

.col-3 {
  color: #96afb8;
}

.today {
  color: #96afb8;
}

.units {
  position: relative;
  font-size: 16px;
  top: -8px;
}
