h1 {
  color: #50717b;
  font-size: 55px;
}
ul {
  color: #3a4042;
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 14px;
}

.Weather {
  font-family: "Bebas Neue", cursive;
}

.temperature {
  font-size: 48px;
  color: #50717b;
}

.unit {
  color: #50717b;
  font-size: medium;
  position: relative;
  top: -23px;
}

.stat {
  color: #3a4042;
  font-size: large;
}
